/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/teams-logo
/public/mix-manifest.json
/public/build
/storage/*.key
/vendor
.env
.env.docker
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode

supervisord.log
